@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

.cards-title{
    position: absolute;
    width: 185px;
    height: 48px;
    left: 108px;
    top: 1000px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 48px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #FFFFFF;
}
.row-l{
    display: flex;
    column-gap: 180px;
}
.card1 {
    width: 207px;
    height: 97px;
    left: 110px;
    top: 1080px;
    background: linear-gradient(180deg, rgba(23, 23, 23, 0) 0%, #171717 100%);
}
.card-number {
    position: absolute;
    width: 36px;
    height: 48px;
    left: 180px;
    top: 77px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 48px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #FFFFFF;
}