@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

/* Titles */
.lfooter-title{
    position: absolute;
    height: 88px;
    width: 321px;
    left: 104px;
    top: 1227px;
    border-radius: nullpx;
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 88px;
    color: #FFFFFF;
}
.lproduct{
    position: absolute;
    height: 24px;
    width: 63px;
    left: 624px;
    top: 1267px;
    border-radius: nullpx;
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #FFFFFF;    
}
.lmgroup{
    position: absolute;
    height: 24px;
    width: 100px;
    left: 848px;
    top: 1267px;
    border-radius: nullpx;
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #FFFFFF;
}
.lsitemap{
    position: absolute;
    height: 24px;
    width: 65px;
    left: 1108px;
    top: 1267px;
    border-radius: nullpx;
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #FFFFFF;
}
/* Subs */
.lfooter-subtitle{
    position: absolute;
    height: 24px;
    width: 130px;
    left: 104px;
    top: 1347px;
    border-radius: nullpx;
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #FFFFFF;
}
.lsub2{
    position: absolute;
    width: 52px;
    height: 32px;
    left: 624px;
    top: 1315px;
    border-radius: nullpx;
    border-radius: nullpx;
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #E5E5E5;
}
.lsub3{
    position: absolute;
    height: 32px;
    width: 64px;
    left: 624px;
    top: 1371px;
    border-radius: nullpx;
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    color: #E5E5E5;
}
.lsub4{
    position: absolute;
    height: 32px;
    width: 52px;
    left: 624px;
    top: 1427px;
    border-radius: nullpx;
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    color: #E5E5E5;
}
.lsub5{
    position: absolute;
    height: 32px;
    width: 86px;
    left: 848px;
    top: 1315px;
    border-radius: nullpx;
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    color: #E5E5E5;
}
.lsub6{
    position: absolute;
    height: 32px;
    width: 78px;
    left: 848px;
    top: 1371px;
    border-radius: nullpx;
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    color: #E5E5E5;
}
.lsub7{
    position: absolute;
    height: 32px;
    width: 57px;
    left: 848px;
    top: 1427px;
    border-radius: nullpx;
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    color: #E5E5E5;
}
.lsub8{
    position: absolute;
    height: 32px;
    width: 46px;
    left: 1108px;
    top: 1315px;
    border-radius: nullpx;
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    color: #E5E5E5;
}
.lsub9{
    position: absolute;
    height: 32px;
    width: 58px;
    left: 1108px;
    top: 1371px;
    border-radius: nullpx;
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    color: #E5E5E5;
}
.lsub10{
    position: absolute;
    height: 32px;
    width: 40px;
    left: 1108px;
    top: 1427px;
    border-radius: nullpx;
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    color: #E5E5E5;
}
.lsub11{
    position: absolute;
    height: 24px;
    width: 249px;
    left: 610px;
    top: 1500px;
    border-radius: nullpx;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}
.lsub12{
    position: absolute;
    width: 116px;
    height: 24px;
    left: 920px;
    top: 1500px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
}
.lsub13{
    position: absolute;
    height: 24px;
    width: 135px;
    left: 1108px;
    top: 1500px;
    border-radius: nullpx;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}
.llocation{
    position: absolute;
    left: 590px;
    top: 1500px;
    border-radius: 0px;

}
.lemail{
    position: absolute;
    left: 895px;
    top: 1500px;
    border-radius: 0px;

}
.lphone{
    position: absolute;
    left: 1083px;
    top: 1500px;
    border-radius: 0px;

}
.linput{
    position: absolute;
    width: 282px;
    height: 64px;
    top: 1395px;
    left: 104px;
    border: 1px solid #464646;
    box-sizing: border-box;
    border-radius: 8px;
}
.linput-text{
    position: absolute;
    height: 32px;
    width: 151px;
    left: 10px;
    top: 15px;
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    color: #AAAAB6;
}
.linput-rectangle{
    position: absolute;
    height: 48px;
    width: 48px;
    left: 225px;
    top: 7px;
    border-radius: 8px;
    background: #f361f8;
}
.larrow-right{
    position: absolute;
    height: 17.41400146484375px;
    width: 17.413999557495117px;
    left: 17px;
    top: 14.5px;
    border-radius: 0px;
    color: #000000;
}