@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

.navbar {
    background: transparent;
    z-index: 999;
    margin-top: -20px;
}
.navbar-title {
    position: absolute;
    width: 152px;
    height: 48px;
    left: 103px;
    top: 28px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 48px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #FFFFFF;
}
.home {
    position: absolute;
    width: 44px;
    height: 24px;
    left: 280px;
    top: 36px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 4px 0px;
}
.contact {
    position: absolute;
    width: 83px;
    height: 32px;
    left: 360px;
    top: 36px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    color: #E6E6E6;
}
.faq {
    position: absolute;
    width: 31px;
    height: 32px;
    left: 440px;
    top: 36px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    color: #E6E6E6;
}
.pricing {
    position: absolute;
    width: 50px;
    height: 32px;
    left: 500px;
    top: 36px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    color: #E6E6E6;
}
.lnavbar-text {
    position: absolute;
    width: 91px;
    height: 24px;
    left: 1200px;
    top: 40px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #FFFFFF;
}
.lsearch{
    position: absolute;
    height: 24px;
    width: 24px;
    left: 1060px;
    top: 40px;
    border-radius: 0px;
}
.lavatar{
    position: absolute;
    height: 48px;
    width: 48px;
    left: 1140px;
    top: 30px;
    border-radius: 0px;
}


