@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

.featured-title {
    position: absolute;
    width: 608px;
    height: 64px;
    left: 63px;
    top: 1176px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 64px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #FFFFFF;
}
.view-more{
    position: absolute;
    width: 256px;
    height: 32px;
    left: 1030px;
    top: 1200px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    text-align: right;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #FED530;
}
/* Cards */
.first-movie{
    position: absolute;
    width: 817px;
    height: 560px;
    left: 63px;
    top: 1296px;
    background-color: blueviolet;
}
.second-movie{
    position: absolute;
    width: 400px;
    height: 560px;
    left: 896px;
    top: 1296px;
    background-color: burlywood;
}
.third-movie{
    position: absolute;
    width: 400px;
    height: 560px;
    left: 64px;
    top: 1872px;
    background-color: darksalmon;
}
.fourth-movie{
    position: absolute;
    width: 400px;
    height: 560px;
    left: 480px;
    top: 1872px;
    background-color: hotpink;
}
.fifth-movie{
    position: absolute;
    width: 400px;
    height: 560px;
    left: 896px;
    top: 1872px;
    background-color: lime;
}
/* Badges */
.badge1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1.5px 8px;
    position: static;
    width: 77px;
    height: 27px;
    left: 0px;
    top: 0px;
    background: #FED530;
    border-radius: 16px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 16px 0px;
    color: #2E2E2E;
}
.badge2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1.5px 8px;
    position: static;
    width: 77px;
    height: 27px;
    left: 0px;
    top: 0px;
    background: #FED530;
    border-radius: 16px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 16px 0px;
    color: #2E2E2E
}
.badge3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1.5px 8px;
    position: static;
    width: 77px;
    height: 27px;
    left: 0px;
    top: 0px;
    background: #FED530;
    border-radius: 16px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 16px 0px;
    color:#2E2E2E
}
.badge4{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1.5px 8px;
    position: static;
    width: 77px;
    height: 27px;
    left: 0px;
    top: 0px;
    background: #FED530;
    border-radius: 16px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 16px 0px;
    color: #2e2e2e;
}
.badge5{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1.5px 8px;
    position: static;
    width: 77px;
    height: 27px;
    left: 0px;
    top: 0px;
    background: #FED530;
    border-radius: 16px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 16px 0px;
    color: #2E2E2E
}
/* Duration */
.duration1{
    position: absolute;
    width: 114px;
    height: 24px;
    left: 70px;
    top: 400px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #CCCCCC;
}
.duration2{
    position: absolute;
    width: 114px;
    height: 24px;
    left: 70px;
    top: 400px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #CCCCCC;
}
.duration3{
    position: absolute;
    width: 114px;
    height: 24px;
    left: 70px;
    top: 400px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #CCCCCC;
}
.duration4{
    position: absolute;
    width: 114px;
    height: 24px;
    left: 70px;
    top: 400px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #CCCCCC;
}
.duration5{
    position: absolute;
    width: 114px;
    height: 24px;
    left: 70px;
    top: 400px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #CCCCCC;
}
/* Views */
.views1{
    position: absolute;
    width: 114px;
    height: 24px;
    left: 200px;
    top: 400px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #CCCCCC;
}
.views2{
    position: absolute;
    width: 114px;
    height: 24px;
    left: 200px;
    top: 400px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #CCCCCC;
}
.views3{
    position: absolute;
    width: 114px;
    height: 24px;
    left: 200px;
    top: 400px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #CCCCCC;
}
.views4{
    position: absolute;
    width: 114px;
    height: 24px;
    left: 200px;
    top: 400px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #CCCCCC;
}
.views5{
    position: absolute;
    width: 114px;
    height: 24px;
    left: 200px;
    top: 400px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #CCCCCC;
}
/* Titles */
.movie-title1{
    position: absolute;
    width: 636px;
    height: 64px;
    left: 70px;
    top: 450px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 64px; 
    font-feature-settings: 'pnum' on, 'lnum' on; 
    color: #FFFFFF;
}
.movie-title2{
    position: absolute;
    width: 376px;
    height: 64px;
    left: 70px;
    top: 450px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 64px; 
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #FFFFFF;
}
.movie-title3{
    position: absolute;
    width: 376px;
    height: 64px;
    left: 70px;
    top: 450px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 64px; 
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #FFFFFF;
}
.movie-title4{
    position: absolute;
    width: 376px;
    height: 64px;
    left: 70px;
    top: 450px;    
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 64px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #FFFFFF;
}
.movie-title5{
    position: absolute;
    width: 376px;
    height: 64px;
    left: 70px;
    top: 450px;   
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 64px; 
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #FFFFFF;
}