@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

body{
    background-color: #000000;
    height: 100vh;
    width: 100vh;
}
.featured-title {
    position: absolute;
    width: 608px;
    height: 64px;
    left: 63px;
    top: 1176px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 64px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #FFFFFF;
}
.view-more{
    position: absolute;
    width: 256px;
    height: 32px;
    left: 1030px;
    top: 1200px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    text-align: right;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #f361f8;
}
.movie-card{
    background-color: #000000;
    border-color: #000000;
}
.featured-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.featured-cards{
    display:grid;
    grid-template-columns: 560px 560px 560px;
    grid-template-rows: repeat(2,auto);
    grid-gap: 20px;
    margin-bottom: 100px;
    grid-template-areas: 
            "xl         xl        col-2 "
            "col-3      col-4     col-5" ;
}
.movie-id-0{
    grid-area: xl;
    position: absolute;
    width: 817px;
    height: 560px;
    left: 63px;
    top: 1296px;
    background-color: violet;
}
.movie-id-1{
    grid-area:col-2;
    position: absolute;
    width: 400px;
    height: 560px;
    left: 896px;
    top: 1296px;
}
.movie-id-2{
    grid-area: col-3;
    position: absolute;
    width: 400px;
    height: 560px;
    left: 64px;
    top: 1872px;
}
.movie-id-3{
    grid-area: col-4;
    position: absolute;
    width: 400px;
    height: 560px;
    left: 480px;
    top: 1872px;
}
.movie-id-4{
    grid-area: col-5;
    position: absolute;
    width: 400px;
    height: 560px;
    left: 896px;
    top: 1872px;
}
/* Badges */
.badge-id-0{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    align-items: center;
    padding: 1.5px 8px;
    width: 77px;
    height: 27px;
    left: 10px;
    top: 0px;
    background: #f361f8;
    border-radius: 16px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 16px 0px;
    color: #2E2E2E;
}
.badge-id-1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1.5px 8px;
    position: absolute;
    width: 77px;
    height: 27px;
    left: 13px;
    top: 0px;
    background: #f361f8;
    border-radius: 16px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 16px 0px;
    color: #2E2E2E
}
.badge-id-2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1.5px 8px;
    position: absolute;
    width: 77px;
    height: 27px;
    left: 10px;
    top: 0px;
    background: #f361f8;
    border-radius: 16px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 16px 0px;
    color:#2E2E2E
}
.badge-id-3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1.5px 8px;
    position: absolute;
    width: 77px;
    height: 27px;
    left: 10px;
    top: 0px;
    background: #f361f8;
    border-radius: 16px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 16px 0px;
    color: #2e2e2e;
}
.badge-id-4{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1.5px 8px;
    position: absolute;
    width: 77px;
    height: 27px;
    left: 10px;
    top: 0px;
    background: #f361f8;
    border-radius: 16px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 16px 0px;
    color: #2E2E2E
}

/* Duration */
.duration-id-0{
    position: absolute;
    width: 114px;
    height: 24px;
    left: 70px;
    top: 400px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #CCCCCC;
}
.duration-id-1{
    position: absolute;
    width: 114px;
    height: 24px;
    left: 70px;
    top: 400px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #CCCCCC;
}
.duration-id-2{
    position: absolute;
    width: 114px;
    height: 24px;
    left: 70px;
    top: 400px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #CCCCCC;
}
.duration-id-3{
    position: absolute;
    width: 114px;
    height: 24px;
    left: 70px;
    top: 400px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #CCCCCC;
}
.duration-id-4{
    position: absolute;
    width: 114px;
    height: 24px;
    left: 70px;
    top: 400px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #CCCCCC;
}
/* Views */
.views-id-0{
    position: absolute;
    width: 114px;
    height: 24px;
    left: 200px;
    top: 400px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #CCCCCC;
}
.views-id-1{
    position: absolute;
    width: 114px;
    height: 24px;
    left: 200px;
    top: 400px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #CCCCCC;
}
.views-id-2{
    position: absolute;
    width: 114px;
    height: 24px;
    left: 200px;
    top: 400px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #CCCCCC;
}
.views-id-3{
    position: absolute;
    width: 114px;
    height: 24px;
    left: 200px;
    top: 400px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #CCCCCC;
}
.views-id-4{
    position: absolute;
    width: 114px;
    height: 24px;
    left: 200px;
    top: 400px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #CCCCCC;
}
/* Titles */
.movie-title-id-0{
    position: absolute;
    width: 636px;
    height: 64px;
    left: 70px;
    top: 450px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 64px; 
    font-feature-settings: 'pnum' on, 'lnum' on; 
    color: #FFFFFF;
}
.movie-title-id-1{
    position: absolute;
    width: 376px;
    height: 64px;
    left: 70px;
    top: 450px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 64px; 
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #FFFFFF;
}
.movie-title-id-2{
    position: absolute;
    width: 376px;
    height: 64px;
    left: 70px;
    top: 450px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 64px; 
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #FFFFFF;
}
.movie-title-id-3{
    position: absolute;
    width: 376px;
    height: 64px;
    left: 70px;
    top: 450px;    
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 64px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #FFFFFF;
}
.movie-title-id-4{
    position: absolute;
    width: 376px;
    height: 64px;
    left: 70px;
    top: 450px;   
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 64px; 
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #FFFFFF;
}