@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

.hero-body{
    position: absolute;
    width: 854.1px;
    height: 200%;
    left: 495px;
    top: -10px;
    background-image: linear-gradient(270deg, #000000 6%, rgba(24, 24, 24, 0) 100%);
    transform: matrix(-1, 0, 0, 1, 0, 0);
}
.hero-image{
    position: relative;
    width: 854.1px;
    height: 1131px;
    left: 495px;
    top: -110px;  
    z-index: -1;
}
.hero-bg{
    height: 100%;
    width: 854.1px;
    object-fit: cover;
}
.movie-title {
    font-family: DM Sans;
    font-size: 72px;
    font-style: normal;
    font-weight: 700;
    line-height: 96px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
    position: absolute;
    width: 468px;
    height: 96px;
    left: 101px;
    top: 203px;
}
.star1 {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 104px;
    top: 313px;
    color: #FED530;
    border-radius: 1px;
}
.star2{
    position: absolute;
    width: 24px;
    height: 24px;
    left: 131px;
    top: 313px; 
    color: #FED530;
    border-radius: 1px;
}
.star3{
    position: absolute;
    width: 24px;
    height: 24px;
    left: 158px;
    top: 313px;
    color: #FED530;
    border-radius: 1px;
}
.star4{
    position: absolute;
    width: 24px;
    height: 24px;
    left: 185px;
    top: 313px;
    color: #FED530;
    border-radius: 1px;
}
.star5{
    position: absolute;
    width: 24px;
    height: 24px;
    left: 212px;
    top: 313px;
    color: #FED530;
    border-radius: 1px;
}
.halfstar{
    width: 11px;
    height: 21px;
    left: 224px;
    top: 313px;

    background: #000000;
}
.movie-description {
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    color: #E5E5E5;
    position: absolute;
    width: 404px;
    height: 96px;
    left: 101px;
    top: 355px;
}
.movie-genre {
    position: absolute;
    width: 108px;
    height: 24px;
    left: 101px;
    top: 529px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #FFFFFF;
}
.movie-duration {
    position: absolute;
    width: 170px;
    height: 24px;
    left: 101px;
    top: 566px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #FFFFFF;
}
.movie-rating {
    position: absolute;
    width: 91px;
    height: 24px;
    left: 101px;
    top: 603px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #FFFFFF;
}
.btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4.22222px 22.5185px;
    position: absolute;
    width: 348px;
    height: 76.44px;
    left: 100px;
    top: 678px;
    background: #FED530;
    border-color: #FED530;
    border-radius: 45.037px;
    color: #2e2e2e
}
.btn:hover {
    background: #2e2e2e;
    border-color: #FED530;
}